.App {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  left: 0;
  top: 0;
  padding: 0;
  height: 100%;
  position: absolute;
}

.app-header {
  background-color: black;
  height: 4rem;
  width: 100%;
  width: 100%;
  top: 0;
  padding: 4px 0;
  margin: 0;
  color: white;
  z-index: 100;
}

.logo {
  float: left;
  width: 2.4rem;
  height: 2.4rem;
  background: white;
  margin: 0.6rem;
}

.title {
  position: relative;
  left: 0.4rem;
  margin-right: 10px;
  font-size: 2.2rem;
  margin-top: 0.4rem;
  letter-spacing: 0.1rem;
  color: white;
}
.main {
  z-index: 1;
  overflow: scroll;
  margin: 20px auto;
  min-height: 100%;
  max-width: 50rem;
}

.action {
  width: 30rem;
  height: 4rem;
}

.fab {
  padding: 1rem;
  margin: 0.2rem;
  border-radius: 5px;
  transition: 0.3s;
}

.fab:hover {
  background-color: grey;
  border-radius: 5px;
  transition: 0.3s;
}
.action input {
  font-size: 1.2rem;
}

.search {
  padding: 0.4rem;
  text-align: center;
}

.inline.fields,
.radio-btn {
  font-size: 1.4rem;
}

.extra.content * {
  color: #a0a0a0;
}

footer {
  position: fixed;
  margin-top: 5%;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  bottom: 0;
  padding: 4px 0;
  margin: 0;
  font-size: 14px;
  background-color: black;
  color: white;
}

footer a,
footer a:after {
  text-decoration: underline;
  color: white;
}
#user-img,
#repo-img {
  max-width: 100px;
}
.message-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.flash-message {
  margin: 20px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

@media only screen and (max-width: 630px) {
  .fields {
    display: flex;
    justify-content: space-between;
    padding: 25px 5px;
  }

  .fields .field {
    height: 100%;
  }
  .action {
    text-align: center;
    width: 90%;
    height: 4rem;
  }
  #user-img,
  #repo-img {
    max-width: 100px;
    display: inline;
  }
  #user-text {
    display: inline;
  }
}

@media only screen and (max-width: 480px) {
  .fields {
    display: flex;
    flex-direction: column !important;
    padding: 20px 5px;
  }

  .fields .field {
    width: 100%;
    display: block;
    padding: 15px 0 !important;
  }
  #user-img,
  #repo-img {
    max-width: 100px;
  }
}
