.loader {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #000000; /* Blue */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
	margin: auto;
	margin-top: 5rem;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
